.snakemake/
Results/
Src/
config/config_FMC63_28z.yml
config/config_orig.yml
config/tutorial_config.yml
config/config_*_.yml
dag.svg
project_info.txt
report.html
tutorial/out/
workflow/scripts/__pycache__/

