.snakemake/
Results/
Src/
config/config_orig.yml
config/tutorial_config.yml
config/config_*_*.yml
config/config_C*.yml
dag.svg
project_info.txt
report.html
tutorial/out/
workflow/scripts/__pycache__/

